/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  background-image: url("/public/istockphoto-534500405-640x640.jpg");
}

#gameBody {
  display: flex;
  flex-direction: column;
  max-height: 440px;
  max-width: 480px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#head-img {
  height: 80px;
  width: 160px;
}
#player-button {
  position: relative;
  margin-top: -20px;
}
#edit-name,
#edit-button {
  /* position: relative; */
  width: 100px;
  height: 30px;
}
#edit-button {
  position: relative;
  font-family: cursive;
  margin-top: -5px;
  height: 30px;
  /* width: 80px; */
  border: none;
}
#board-button {
  display: flex;
  height: 80px;
  width: 80px;
  font-size: 40px;
  padding-left: 25px;
}

#active {
  border: 2px solid yellow;
}

dialog{
  height: 200px;
  width: 300px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
 
  border: none; */
  border-radius: 20px;
  border:none;
}

.dialog{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  
}

.dialog button{
  margin-top: 10px;
  background-color: red;
  border-radius: 20px;
  color: white;
  border: none;
  height:35px;
  width: 80px;
}

dialog::backdrop{
  backdrop-filter: blur(5px);
} 

@media screen and (max-width: 480px) {
  #board-button {
    display: flex;
    height: 40px;
    width: 40px;
    font-size: 20px;
  }
}
